.card-wrapper {
  @apply my-3;
}
@screen md {
  .card-wrapper {
    @apply px-4;
  }
}

.card {
  @apply rounded overflow-hidden shadow-lg;
}

.card-content {
  @apply mx-6 my-4;
}

.card-header {
  @apply font-semibold text-xl;
}

.card-props {
  @apply mt-2 text-grey-lighter;
}

.card-prop-icon {
  @apply h-5 align-middle mr-1;
}

.card-prop-value {
  @apply font-semibold;
}

.card-prop-label {
  @apply text-left;
}

.section-heading {
  @apply mt-8;
}

.section {
  @apply mt-4;
}
@screen md {
  .section {
    @apply mx-8;
  }
}

.link {
  @apply text-secondary underline;
  text-decoration-color: theme('colors.primary');
}

.link-light {
  @apply text-primary-dark;
}

.link-card {
  @apply bg-grey-lighter rounded shadow-lg py-6 px-4 card-content text-black;
}

.button {
  @apply rounded bg-secondary border-secondary text-black font-semibold text-sm py-1 px-2;
}

.button--selected {
  @apply bg-secondary-dark border-secondary-dark;
}

.button:hover {
  @apply bg-secondary-light border-secondary-light;
}

.button-sm {
  @apply border-2;
}

.button-md {
  @apply border-4;
}

.button-lg {
  @apply border-8;
}

/* blue card with a title and an image which highlights multiple stats */
.stats-card {
  @apply w-80 bg-primary-dark mx-auto relative;
}

.stats-card-title {
  @apply z-10 absolute left-0 ml-3 mt-2 font-semibold text-white text-2xl text-shadow whitespace-no-wrap capitalize;
}

.stats-card-image {
  @apply z-0 absolute bottom-0 h-20;
}

.stats-card-icon {
  @apply absolute bottom-0 h-10 rounded-full p-1 ml-20;
  background: rgba(0, 0, 0, 0.5);
}

.stats-card-content {
  @apply py-2 pr-3 flex flex-col justify-center items-end;
}

/* transparent card with a title and an image which highlights a single stat */
.prop-card {
  @apply w-40 h-14 border-primary-darker border-2 mx-auto relative;
}

@responsive {
  .prop-card-md {
    @apply w-48 h-20;
  }

  .prop-card-lg {
    @apply w-56 h-24;
  }
}

.prop-card-title {
  @apply z-10 absolute left-0 ml-1 font-semibold text-white text-shadow whitespace-no-wrap capitalize;
}

@responsive {
  .prop-card-title-lg {
    @apply mt-1 ml-2 text-lg;
  }
}

.prop-card-image {
  @apply z-0 absolute bottom-0 h-12;
}

@responsive {
  .prop-card-image-lg {
    @apply h-16;
  }
}

.prop-card-content {
  @apply w-24 py-1 pr-1 absolute right-0 h-full flex flex-col justify-center items-center text-center;
}

@responsive {
  .prop-card-content-md {
    @apply py-2;
  }

  .prop-card-content-lg {
    @apply w-32 py-2 pr-2;
  }
}

/** container for 5 brawler avatars in a w-80 event card */
.brawler-avatars {
  @apply flex justify-between mx-1;
}

.brawler-avatars__element {
  @apply w-1/5 mx-px flex flex-wrap justify-center overflow-hidden;
}

/** Brawler avatar with stats below */
.brawler-avatar {
  @apply bg-black rounded-sm;
}

.brawler-avatar__img {
  @apply h-10;
}

.brawler-avatar__stats {
  @apply text-xs whitespace-no-wrap tracking-tighter;
}

/** addition to .container */
.page {
  @apply mx-auto p-4;
}

.page-h1 {
  @apply text-3xl font-semibold;
}

.page-h2 {
  @apply text-2xl font-semibold;
}

/** ad root-class */
.ad-section {
  @apply mt-4;
}
