.min-width-min-content {
  min-width: min-content;
}

.w-fit-content {
  width: fit-content;
}

.card-wrapper {
  @apply my-3;
}
@screen md {
  .card-wrapper {
    @apply px-4;
  }
}

.card {
  @apply rounded overflow-hidden shadow-lg;
}

.card--dark {
  @apply bg-gray-800; /* px-4 py-3; */
}

.card--sm {
  @apply mt-3 mx-1 w-full max-w-sm;
}

@responsive {
  .card__content {
    @apply px-6 py-4;
  }
}

.card__header {
  @apply font-semibold text-xl;
}

.card__text {
  @apply mt-2;
}

.card__props {
  @apply mt-2 text-grey-lighter;
}

.card-prop-icon {
  @apply h-5 align-middle mr-1;
}

.card-prop-value {
  @apply font-semibold;
}

.card-prop-label {
  @apply text-left;
}

.section-heading {
  @apply mt-8;
}

.section {
  @apply mt-4;
}
@screen md {
  .section {
    @apply mx-8;
  }
}

.link {
  @apply text-secondary underline;
  text-decoration-color: theme('colors.primary');
}

.link-light {
  @apply text-primary-dark;
}

.link-card {
  @apply bg-grey-lighter rounded shadow-lg py-6 px-4 card__content text-black;
}

.button {
  @apply rounded bg-secondary border-secondary text-black font-semibold text-sm py-1 px-2;
}

.button--selected {
  @apply bg-secondary-light border-primary;
}

.button:hover {
  @apply bg-secondary-light border-secondary-light;
}

@responsive {
  .button-xs {
    @apply py-px px-1;
  }

  .button-sm {
    @apply border-2;
  }

  .button--md {
    @apply border-4;
  }

  .button--lg {
    @apply border-8;
  }
}

/* transparent card with a title and an image which highlights a single stat */
.prop-card {
  @apply w-40 h-14 border-primary-darker border-2 mx-auto relative;
}

@responsive {
  .prop-card-md {
    @apply w-48 h-20;
  }

  .prop-card-lg {
    @apply w-56 h-24;
  }
}

.prop-card-title {
  @apply z-10 absolute left-0 ml-1 font-semibold text-white text-shadow whitespace-no-wrap capitalize;
}

@responsive {
  .prop-card-title-lg {
    @apply mt-1 ml-2 text-lg;
  }
}

.prop-card-image {
  @apply z-0 absolute bottom-0 h-12;
}

@responsive {
  .prop-card-image-lg {
    @apply h-16;
  }
}

.prop-card__content {
  @apply w-24 py-1 pr-1 absolute right-0 h-full flex flex-col justify-center items-center text-center;
}

@responsive {
  .prop-card__content-md {
    @apply py-2;
  }

  .prop-card__content-lg {
    @apply w-32 py-2 pr-2;
  }
}

/** container for 5 brawler avatars in a w-80 event card */
.brawler-avatars {
  @apply flex justify-between mx-1;
}

.brawler-avatars__placeholder {
  @apply w-full;
}

.brawler-avatars__placeholder::before {
  content: '';
  @apply block absolute h-full top-0;
  left: -200px;
  width: 200px;
  /* bg-gray-800 */
  background: linear-gradient(to right, transparent 0%, #2d3748 50%, transparent 100%);
  animation: load 1s ease;
  animation-iteration-count: infinite;
}

@keyframes load {
  from {
    left: -150px;
  }
  to {
    left: 100%;
  }
}

.brawler-avatars__element {
  @apply w-1/5 mx-px flex flex-wrap justify-center overflow-hidden;
}

/** Brawler avatar with stats below */
.brawler-avatar {
  @apply bg-black rounded-sm max-w-full;
}

.brawler-avatar__img {
  @apply h-10;
}

.brawler-avatar__stats {
  @apply text-xs whitespace-no-wrap tracking-tighter text-center;
}

/** addition to .container */
.page {
  @apply mx-auto p-4;
}

.page-h1 {
  @apply text-3xl font-semibold;
}

.page-h2 {
  @apply text-2xl font-semibold;
}

.page-h3 {
  @apply text-xl font-semibold;
}

.subpage {
  @apply -mx-2 p-2 bg-gray-800 rounded;
}

.subpage-back {
  top: calc(54px + 0.5rem - 1px); /* collapsed menu height + space + some pixel fuckup */
  @apply sticky text-right z-20;
  @apply button button--md;
}

/* on desktop, turn container into a fullscreen modal */
@screen md {
  .subpage-wrapper {
    @apply fixed inset-0 z-50 bg-opacity-75 bg-black;
  }

  .subpage {
    @apply mx-auto mb-auto my-32 max-w-5xl relative px-6 pb-4;
  }

  .subpage__title {
    @apply pb-3;
  }

  .subpage__content {
    /* 100% - margin top/bottom - title height */
    @apply overflow-y-auto;
    max-height: calc(100vh - 2*8rem - 6.5rem);
  }

  .subpage-back {
    @apply absolute top-0 left-0;
  }
}

/** ad root-class */
.ad-section {
  @apply mt-4 text-center;
}

/* purgecss start ignore */
.bg-color-heist {
  background-color: #c663cd;
}

.bg-color-siege {
  background-color: #ef5132;
}

.bg-color-soloshowdown,
.bg-color-duoshowdown {
  background-color: #81d621;
}

.bg-color-bounty {
  background-color: #10b2b7;
}

.bg-color-brawlball {
  background-color: #8ca0e0;
}

.bg-color-gemgrab {
  background-color: #9b3df3;
}

.bg-color-biggame {
  background-color: #dc2423;
}

.bg-color-roborumble {
  background-color: #0085fb;
}

.bg-color-bossfight {
  background-color: #900020;
}

.bg-color-hotzone {
  background-color: #e33c50;
}

.bg-color-supercityrampage {
  background-color: #db2523;
}
/* purgecss end ignore */

.bigstat-wrapper {
  @apply flex flex-wrap mx-auto;
}

@screen md {
  .bigstat-wrapper {
    @apply justify-center mx-0;
  }
}

.bigstat-container {
  @apply flex flex-wrap justify-center items-center mt-2 w-full;
}

@screen xl {
  .bigstat-container {
    @apply mx-6 w-auto;
  }
}

.bigstat-left {
  @apply w-1/2 text-right flex justify-end items-center pr-2;
}

.text-5vw {
  font-size: 5vw;
}

@responsive {
  .text-4xl\! {
    @apply text-4xl;
  }
}

.bigstat-right {
  @apply w-1/2 text-left flex justify-start items-center pl-2;
}

.bigstat-label {
  @apply leading-none text-white;
}

.bigstat-number {
  @apply text-5xl font-bold text-secondary;
}

.bigstat-number--light {
  @apply text-3xl text-primary-light;
}

.bigstat-tooltip-btn {
  @apply absolute mt-2 mr-1 text-primary-light font-semibold underline top-0 right-0;
}

.bigstat-tooltip-text {
  @apply absolute top-0 left-0 text-sm w-48 bg-black text-grey-lighter rounded px-2 py-1 ml-2 text-left;
}

.bigstat-tooltip-close {
  @apply text-primary-light font-semibold absolute top-0 right-0 mr-1 cursor-pointer;
}
