@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-shadow {
    text-shadow: -1px 0 #22292f, 0 1px #22292f, 1px 0 #22292f, 0 -1px #22292f;
  }
}

@layer components {
  .card-prop-icon {
    @apply h-5 align-middle mr-1;
  }

  .card-prop-value {
    @apply font-semibold;
  }

  .card-prop-label {
    @apply text-left;
  }

  /** ad root-class */
  .ad-section {
    @apply mt-4 text-center;
  }
}

/* purgecss start ignore */
.bg-color-heist {
  background-color: #c663cd;
}

.bg-color-siege {
  background-color: #ef5132;
}

.bg-color-soloshowdown,
.bg-color-duoshowdown {
  background-color: #81d621;
}

.bg-color-bounty {
  background-color: #10b2b7;
}

.bg-color-brawlball {
  background-color: #8ca0e0;
}

.bg-color-gemgrab {
  background-color: #9b3df3;
}

.bg-color-biggame {
  background-color: #dc2423;
}

.bg-color-roborumble {
  background-color: #0085fb;
}

.bg-color-bossfight {
  background-color: #900020;
}

.bg-color-hotzone {
  background-color: #e33c50;
}

.bg-color-supercityrampage {
  background-color: #db2523;
}

.bg-color-presentplunder {
  background-color: #00da48;
}

.bg-color-knockout {
  background-color: #fe712c;
}

.bg-color-trophythieves {
  background-color: #3be2ce;
}

.bg-color-volleybrawl {
  background-color: #b3f326;
}

.bg-color-holdthetrophy {
  background-color: #e337c1;
}
/* purgecss end ignore */
