@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "@schneefux/klicker/components/dashboard.css";

@layer utilities {
  .text-shadow {
    text-shadow: -1px 0 #22292f, 0 1px #22292f, 1px 0 #22292f, 0 -1px #22292f;
  }
}

@layer components {
  .card-prop-icon {
    @apply h-5 align-middle mr-1;
  }

  .card-prop-value {
    @apply font-semibold;
  }

  .card-prop-label {
    @apply text-left;
  }

  /** ad root-class */
  .ad-section {
    @apply mt-4 text-center;
  }
}

/* purgecss start ignore */
.bg-color-heist {
  background-color: #94379b;
}

.bg-color-siege {
  background-color: #b7361c;
}

.bg-color-soloshowdown,
.bg-color-duoshowdown {
  background-color: #5c9b15;
}

.bg-color-bounty {
  background-color: #178185;
}

.bg-color-brawlball {
  background-color: #5475df;
}

.bg-color-gemgrab {
  background-color: #7425bf;
}

.bg-color-biggame {
  background-color: #a51918;
}

.bg-color-roborumble {
  background-color: #0085fb;
}

.bg-color-bossfight {
  background-color: #900020;
}

.bg-color-hotzone {
  background-color: #890e1c;
}

.bg-color-supercityrampage {
  background-color: #db2523;
}

.bg-color-presentplunder {
  background-color: #00da48;
}

.bg-color-knockout {
  background-color: #9b3401;
}

.bg-color-trophythieves {
  background-color: #3be2ce;
}

.bg-color-volleybrawl {
  background-color: #b3f326;
}

.bg-color-holdthetrophy {
  background-color: #e337c1;
}

.bg-color-duels {
  background-color: #468cd5;
}

.bg-color-payload {
  background-color: #8f34cd;
}

.bg-color-wipeout {
  background-color: #8816a5;
}

.bg-color-basketbrawl {
    background-color: #bf4d0a;
}
/* purgecss end ignore */
