@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./dashboard.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
